{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}
        org.clojure/tools.logging {:mvn/version "1.3.1"}
        com.taoensso/timbre {:mvn/version "6.8.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}}
 :aliases {:test {:extra-paths ["test" "test-resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :run {:main-opts ["-m" "gb-clj.core"]}
           :dev {:extra-paths ["test" "test-resources"]
                 :extra-deps {nrepl/nrepl {:mvn/version "1.6.0"}}}}}
